@import url('https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap');


@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/JetBrains-Mono/JetBrainsMono_latin_400.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
    background: #ccc;
    background-image: url('../img/236-200x300.jpg');
    background-repeat:none;
    background-size: cover;
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 400;
}